<body>
  <header class="icone">
    <img src="/assets/logo.png" alt="Logo" />
  </header>
  <div class="elipse-container2">
    <div class="elipse2"></div>
  </div>
  <div class="elipse-container3">
    <div class="elipse3"></div>
  </div>
  <div class="container">
    <div class="row d-flex">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 alignRow">
        <div class="half2">
          <div class="Login alignForm">
            <div class="elements">
              <div class="entrar">
                <p>Login</p>
              </div>
              <div class="autenticação">
                <div class="AppleAut buttunsauth">
                  <div class="Apple">
                    <svg
                      class="vector5"
                      width="15"
                      height="18"
                      viewBox="0 0 15 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M12.5408 9.51237C12.5322 8.03695 13.1953 6.92497 14.5343 6.10505C13.7854 5.02336 12.6524 4.42843 11.1588 4.31377C9.74464 4.20128 8.19742 5.14451 7.6309 5.14451C7.03219 5.14451 5.66309 4.35272 4.58584 4.35272C2.36266 4.38733 0 6.13966 0 9.70491C0 10.7585 0.190987 11.8467 0.572961 12.9673C1.08369 14.4427 2.92489 18.0577 4.84549 17.9993C5.84979 17.9755 6.56009 17.2811 7.86695 17.2811C9.13519 17.2811 9.79185 17.9993 10.912 17.9993C12.8498 17.9712 14.515 14.685 15 13.2053C12.4013 11.97 12.5408 9.58809 12.5408 9.51237ZM10.2854 2.91407C11.3734 1.61172 11.2747 0.426185 11.2425 0C10.2811 0.0562478 9.16953 0.65983 8.53648 1.40187C7.83906 2.19799 7.42918 3.18233 7.51717 4.29214C8.55579 4.37219 9.50429 3.8335 10.2854 2.91407Z"
                        fill="white"
                      />
                    </svg>
                    <p>Entrar com Apple</p>
                  </div>
                </div>
                <div class="GoogleAut buttunsauth">
                  <div class="Google">
                    <svg
                      class="group-23"
                      width="19"
                      height="19"
                      viewBox="0 0 19 19"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M18.8152 7.63942H18.05V7.6H9.5V11.4H14.8689C14.0856 13.6121 11.9809 15.2 9.5 15.2C6.35217 15.2 3.8 12.6478 3.8 9.5C3.8 6.35217 6.35217 3.8 9.5 3.8C10.953 3.8 12.2749 4.34815 13.2815 5.24352L15.9685 2.55645C14.2718 0.975175 12.0023 0 9.5 0C4.25362 0 0 4.25362 0 9.5C0 14.7464 4.25362 19 9.5 19C14.7464 19 19 14.7464 19 9.5C19 8.86302 18.9344 8.24125 18.8152 7.63942Z"
                        fill="#FFC107"
                      />
                      <path
                        d="M1.09534 5.07822L4.21656 7.36725C5.06111 5.2763 7.10646 3.8 9.49998 3.8C10.953 3.8 12.2749 4.34815 13.2815 5.24352L15.9685 2.55645C14.2718 0.975175 12.0023 0 9.49998 0C5.85104 0 2.68659 2.06007 1.09534 5.07822Z"
                        fill="#FF3D00"
                      />
                      <path
                        d="M9.49997 19.0001C11.9538 19.0001 14.1835 18.0611 15.8692 16.5339L12.929 14.0459C11.9432 14.7956 10.7385 15.2011 9.49997 15.2001C7.02903 15.2001 4.93095 13.6246 4.14055 11.4258L1.0426 13.8127C2.61485 16.8892 5.8078 19.0001 9.49997 19.0001Z"
                        fill="#4CAF50"
                      />
                      <path
                        d="M18.8152 7.63952H18.05V7.6001H9.5V11.4001H14.8689C14.4942 12.4529 13.8193 13.3729 12.9276 14.0463L12.929 14.0454L15.8693 16.5334C15.6612 16.7225 19 14.2501 19 9.5001C19 8.86312 18.9344 8.24135 18.8152 7.63952Z"
                        fill="#1976D2"
                      />
                    </svg>
                    <p>Entrar com Google</p>
                  </div>
                </div>
                <div class="ou">
                  <div
                    style="width: 420px; height: 100%; border: 3px white solid"
                  ></div>
                  <p>ou</p>
                  <div
                    style="width: 100%; height: 100%; border: 3px white solid"
                  ></div>
                </div>
              </div>
              <form
                [formGroup]="formLogin"
                (submit)="Submit()"
                style="z-index: 1"
              >
                <div class="form-container">
                  <div class="form-group-senha">
                    <div class="senha2">
                      <label for="email"></label>
                      <div class="password-input">
                        <input
                          type="email"
                          formControlName="email"
                          id="email"
                          name="email"
                          placeholder="Email"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="alert_text2" *ngIf="formLogin.get('email')?.getError('email') && (formLogin.get('email')?.touched && formLogin.get('email')?.dirty)">
                    *O Email informado não é valido.
                  </div>

                  <div class="form-group-senha">
                    <div class="senha2">
                      <label for="senha"></label>
                      <div class="password-input">
                        <input
                          type="password"
                          formControlName="password"
                          id="senha"
                          name="senha"
                          placeholder="Senha"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="alert_text" *ngIf="formLogin.get('password')?.getError('senhaInvalida') && (formLogin.get('password')?.touched && formLogin.get('password')?.dirty)">
                    A senha deve ter pelo menos 4 caracteres, 1 número, 1 letra maiúscula, 1 letra minúscula e 1 caractere especial
                  </div>

                  <div class="Entrar">
                    <button>ENTRAR</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 colxl-6 alignRow">
        <div class="half1">
          <div class="texto">
            <h1>Olá Novamente</h1>
            <h3>Faça login para continuar sua jornada com</h3>
            <h3>o melhor banco de microcrédito nacional.</h3>

            <div class="conta">
              <h2>Ainda não possui uma conta?</h2>
              <div class="criar-conta">
                <button routerLink="/cadastro">Crie sua conta agora</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
