<body>
  <div class="icone" routerLink="/home" style="cursor: pointer;">
    <img src="/assets/logo.png" alt="Logo" />
  </div>
  <div class="elipse-container2">
    <div class="elipse2"></div>
  </div>
  <div class="container">
    <div class="row flex">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 alignRow">
        <div class="half1">
          <div class="texto">
            <h1>Seja Bem Vindo</h1>
            <h3>Comece sua jornada fazendo</h3>
            <h3>o seu cadastro.</h3>

            <div class="conta">
              <h2>Você já possui uma conta?</h2>
              <div class="criar-conta">
                <button routerLink="/login">
                  Clique aqui para fazer login
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 alignRow">
        <div class="half2">
          <div class="Cadastro">
            <div class="cadastrar">
              <p style="margin: 0">Cadastro</p>
            </div>
            <div class="autenticação">

              <asl-google-signin-button
                type="standard"
                size="large"
                class="d-flex justify-content-center align-items-center w-100"
                lang="pt-br"
                text="continue_with"
                data-use_fedcm_for_prompt="true"
              ></asl-google-signin-button>

              <div class="ou">
                <div
                  style="width: 420px; height: 100%; border: 3px white solid"
                ></div>
                <p>ou</p>
                <div
                  style="width: 100%; height: 100%; border: 3px white solid"
                ></div>
              </div>
            </div>
            <form
              [formGroup]="formCadastro"
              (submit)="userSubmit()"
              style="z-index: 1"
            >
              <div class="form-container">
                <div class="form-group-name">
                  <div class="nome">
                    <label for="nome"></label>
                    <input
                      (change)="replaceName()"
                      type="text"
                      maxlength="50"
                      formControlName="completeName"
                      id="nome"
                      name="nome"
                      placeholder="Nome Completo"
                    />
                  </div>
                </div>
                <div class="form-group-cpf">
                  <div class="cpf">
                    <label for="cpf"></label>
                    <input
                      [ngClass]="{
                        alert_text: formCadastro
                          .get('cpf')
                          ?.getError('cpfNotValid')
                      }"
                      type="text"
                      mask="000.000.000-00"
                      formControlName="cpf"
                      id="cpf"
                      name="cpf"
                      placeholder="CPF"
                    />
                  </div>
                  <div class="data-de-nasc">
                    <label for="data-nascimento"></label>
                    <input
                      type="date"
                      formControlName="birthDate"
                      id="data-nascimento"
                      name="data-nascimento"
                      min="1923-01-01"
                      max="{{ todayDate | date : 'yyyy-MM-dd' }}"
                    />
                  </div>
                </div>
                <div
                  class="alert_text2"
                  *ngIf="formCadastro.get('cpf')?.getError('cpfNotValid')"
                >
                  *O cpf não é válido.
                </div>

                <div class="form-group">
                  <div class="email">
                    <label for="email"></label>
                    <input
                      [ngClass]="{
                        alert_text:
                          formCadastro.get('email')?.getError('email') &&
                          formCadastro.get('email')?.touched &&
                          formCadastro.get('email')?.dirty
                      }"
                      type="email"
                      formControlName="email"
                      id="email"
                      name="email"
                      placeholder="Email"
                      maxlength="50"
                    />
                  </div>
                </div>
                <div
                  class="alert_text2"
                  *ngIf="
                    formCadastro.get('email')?.getError('email') &&
                    formCadastro.get('email')?.touched &&
                    formCadastro.get('email')?.dirty
                  "
                >
                  *O Email informado não é valido.
                </div>

                <div class="form-group-senha">
                  <div class="senha2">
                    <label for="senha"></label>
                    <div class="password-input">
                      <input
                        type="password"
                        formControlName="password"
                        id="senha"
                        name="senha"
                        placeholder="Senha"
                        maxlength="20"
                      />
                    </div>
                  </div>
                  <div
                    class="alert_text2"
                    *ngIf="
                      formCadastro.get('password')?.getError('senhaInvalida') &&
                      formCadastro.get('password')?.touched &&
                      formCadastro.get('password')?.dirty
                    "
                  >
                    *A senha deve ter pelo menos 4 caracteres, 1 número, 1 letra
                    maiúscula, 1 letra minúscula e 1 caractere especial.
                  </div>
                  <div class="confirmarsenha">
                    <label for="confirmsenha"></label>
                    <div class="password-input">
                      <input
                        type="password"
                        formControlName="confirmPassword"
                        id="confirmsenha"
                        name="confirmsenha"
                        placeholder="Confimar senha"
                        maxlength="20"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="alert_text2"
                  *ngIf="
                    formCadastro?.getError('notSame') &&
                    formCadastro.get('confirmPassword')?.touched &&
                    formCadastro.get('confirmPassword')?.dirty
                  "
                >
                  *As senhas devem ser iguais.
                </div>
                <div class="Entrar">
                  <button
                    [disabled]="this.formCadastro.invalid"
                    (click)="Submit()"
                  >
                    ENTRAR
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="https://accounts.google.com/gsi/client" async></script>

<!-- Loader Animation -->
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
>
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>

<!-- Toast Notification -->
<div
  [style]="
    toastMessage.isSuccess
      ? 'border-left: 6px solid green;'
      : 'border-left: 6px solid red;'
  "
  class="noti"
>
  <div class="noti-content">
    <i
      [style]="
        toastMessage.isSuccess
          ? 'background-color: green;'
          : 'background-color: red;'
      "
      [ngClass]="
        toastMessage.isSuccess ? 'bi bi-check2 check' : 'bi bi-x check'
      "
    ></i>

    <div class="message">
      <span class="text text-1">{{
        toastMessage.isSuccess ? "Sucesso" : "Erro"
      }}</span>
      <span class="text text-2">{{ toastMessage.message }}</span>
    </div>
  </div>

  <div
    [ngClass]="toastMessage.isSuccess ? 'progress' : 'progress-error'"
    class="progress"
  ></div>
</div>
