@font-face {
  font-family: "Krona One";
  src: url("/assets/KronaOne.woff2") format("woff2"),
    url("/assets/KronaOne.woff") format("woff");
}

body {
  font-family: "Krona One", sans-serif;
  margin: 0;
  text-align: center !important;
  padding: 0;
  background-color: #01072a;
  min-width: 520px;
  min-height: 570px;
  z-index: 0;
}

h1,
h2,
h3 {
  font-family: "Krona One", sans-serif;
}

.half1 {
  background-color: #01072a;
  width: 45vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #01072a;
  font-family: "Krona One", sans-serif;
}

.half2 {
  background-color: #01072a;
  width: 45vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Cadastro {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: #080f38;
  border-radius: 10px;
  padding: 18px;
}

.cadastrar {
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 0;
  color: white;
  font-size: 40px;
}

.autenticação {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Apple {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.AppleAut {
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 310px;
  height: 50px;
  border-radius: 10px;
  margin: 1%;
  z-index: 1;
  cursor: pointer;

}

.Google {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.Apple > p {
  margin-left: 2%;
  margin-top: 4%;
  align-items: center;
}

.GoogleAut {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  width: 69%;
  height: 50px;
  border-radius: 10px;
  margin: 1%;
  z-index: 0;
  cursor: pointer;
}

.Google > p {
  text-align: center;
  margin-left: 5px;
  margin-top: 5%;
  display: flex;
  align-items: center;
}

.ou {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 2%;
  z-index: 0;
}

.ou > p {
  margin: 2%;
}

body {
  font-family: Arial, sans-serif;
}

.form-container {
  width: 450px;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.form-group {
  margin-bottom: 4%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.form-group-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-group-name .nome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-group-name .sobrenome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-group-cpf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-group-cpf .cpf {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-group-cpf .data-de-nasc {
  display: flex;
  flex-direction: row;
  width: 215px;
}

.form-cpf-nasc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-group .email {
  display: flex;
  width: 100%;
}

.form-group-senha {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 1%;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-input {
  position: relative;
  width: 380px;
}

.Entrar {
  align-items: center;
  justify-content: center;
  display: flex;
}

.Entrar button {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 400px;
  height: 50px;
  background-color: #fff500;
  color: black;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.criar-conta button {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 400px;
  height: 50px;
  background-color: #fff500;
  color: black;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}

.texto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.texto h1 {
  font-size: 65px;
  padding: 0;
  margin: 20px;
}

.texto h3 {
  font-size: 16px;
  margin: 1%;
}

.icone {
  margin: 2%;
  margin-left: 3%;
  position: absolute;
  display: flex;
  align-items: start;
  width: 120px;
}

.elipse-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.elipse {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #1e61ae;
  filter: blur(80px);
  border-radius: 80%;
  top: 40vh;
  left: 90vh;
}

.conta {
  margin-top: 35%;
}

.elipse-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.elipse {
  position: relative;
  width: 400px;
  height: 1000px;
  background-color: #1e61ae;
  filter: blur(270px);
  border-radius: 80%;
  top: 30vh;
  right: 20vh;
}

.elipse-container3 {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.elipse3 {
  position: relative;
  width: 400px;
  height: 1000px;
  background-color: #1e61ae;
  filter: blur(270px);
  border-radius: 80%;
  top: -50vh;
  right: -200vh;
}

@media (min-width: 1400px) {
  .half1 {
    width: auto;
  }

  .half2 {
    width: auto;
  }
}

@media (max-width: 1199px) {
  .conta {
    margin-top: 20%;
  }
}


@media (max-width: 991px) {
  .alignRow {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conta {
    margin-top: 5%;
  }

  body {
    min-height: 1100px;
  }
}

@media (max-width: 575px) {
  .icone {
    margin-top: 5%;
  }
}
