@media (max-width: 2560px){
    .drop-mobile{
        display: none;
    }
}

@media (max-width: 1200px) {
    .buttons {
        margin-left: 15%;
    }

    .cont3 aside{
        margin-top: 15px;
        text-align: center;
        width: 60%;
        height: 200px;
        margin-left: 15px;
        border-radius: 31px;
        background: linear-gradient(333deg, #02082B 0%, #0D1A60 94.47%);
        padding: 20px;
    }

    .cont3 .container .info .inputs .valores input{
        width: 110px;
    }

    .cont4 aside{
        width: 60%;
        padding: 20px;
    }

    .cont4 .container .info2 h6{
        font-size: 12px;
    }
    .cont4 .container .info2 h6:nth-child(1){
        margin-top: 10px;
    }
    .cont4 .container .info2 p{
        font-size: 12px;
    }
    .cont4 .container .info2 span{
        font-size: 12px;
    }
    .cont4 .container .info .inputs .valores button{
        margin-top: 10px;
        margin-left: 50px;
    }
}

@media (max-width: 1199px){
    .cont4 .container .info2 h6{
        font-size: 12px;
    }
    .cont4 .container .info2 h6:nth-child(1){
        margin-top: 20px;
    }
    .cont4 .container .info2 p{
        font-size: 11px;
    }
    .cont4 .container .info2 span{
        font-size: 12px;
    }
    .cont4 .container .info .inputs .valores button{
        margin-top: 10px;
        margin-left: 50px;
    }
}

@media (max-width: 1024px){
    .cont3 aside{
        margin-top: 15px;
        text-align: center;
        width: 60%;
        height: 200px;
        margin-left: 15px;
        border-radius: 31px;
        background: linear-gradient(333deg, #02082B 0%, #0D1A60 94.47%);
        padding: 20px;
    }

    .cont3 .container .info .inputs .valores input{
        width: 80px;
    }

    .cont3 .container .info .inputs .valores2 button{
        margin-top: 10px;
    }

}

@media (min-width: 740px) and (max-width: 999px){
    .nav-all{
        width: 100vw;
        display: flex;
    }

    .drop-mobile{
        display: block;
        justify-content: flex-end;
        position: absolute;
        margin-left: 70%;
    }
    .dropdown-mobile{
        position: absolute;    
    }
}

@media (max-width: 739px){
    .nav-all{
        width: 100vw;
        display: flex;
    }
    .drop-mobile{
        display: block;
        justify-content: flex-end;
        position: absolute;
        margin-left: 60%;
    }
    .dropdown-mobile{
        position: absolute;    
    }
}

@media (min-width: 426px) and (max-width: 530px){
    .nav-all{
        width: 100vw;
        display: flex;
    }
    .navbar1 img{
        height: 30px;
    }
    .drop-mobile{
        display: block;
        justify-content: flex-end;
        position: absolute;
        margin-left: 50%;
    }
    .dropdown-mobile{
        position: absolute;    
    }
    .dropdown-mobile li a{
        font-size: 10px;    
    }
}

@media (max-width: 425px){
    .nav-all{
        width: 100vw;
        display: flex;
    }
    .navbar1 img{
        height: 30px;
    }
    .drop-mobile{
        display: block;
        justify-content: flex-end;
        position: absolute;
        margin-left: 50%;
    }
    .dropdown-mobile{
        position: absolute;    
    }
    .dropdown-mobile li a{
        font-size: 10px;    
    }
}

@media (max-width: 999px){

    .cont1{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .drop-pc,
    .navbar-toggler{
        display: none;
    }

    .buttons {
        display: none;
    }

    .cartao aside{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2px;
    }

    .cartao aside img{
        height: 150px;
        width: 280px;
    }
    .cont3 aside{
        width: 100%;
    }

    .cont3 .container .info .inputs{
        display: flex;
        width: 50vw;
    }

    .cont3 .container .info .inputs .valores input{
        width: 130px;
    }

    .cont4 aside{
        width: 100%;
    }

    .cont4 .container .info2{
        margin-left: 20px;
    }
}

@media (max-width: 450px){
    .cont3 .container .info .inputs .valores input{
        width: 90px;
    }

    .cont3 .container .total button{
        margin-bottom: 10px;
    }

    .cont3 .info h5{
        font-size: 16px;
    }

    .cont3 .container .info .inputs .valores2 button{
        width: 90px;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .cont3 .container .info .inputs .valores2 input{
        width: 90px;
    }

    .cont3 .container .info .inputs .valores input{
        width: 90px;
        margin-left: 5px;
    }

    .cont3 .container .info .inputs .valores select{
        width: 90px;
        margin: 5px;
    }

    .cont4 .info h5{
        font-size: 16px;
    }
    
    .cont4 .container .info .inputs .valores button{
        width: 90px;
        margin-left: 30px;
    }

    .cont4 .container .info .inputs .valores select{
        width: 90px;
        margin: 5px 30px;
    }

    .cont4 .container .info2{
        margin-left: 50px;
    }
}