<header class="row d-flex header_rectangle">
    <div class="col-12 col-sm-6 align_col_203 text-center text-sm-start">
        <img class="logo_credlend" src="assets/img/logo_credlend.png" />
    </div>
    <div class="col-12 col-sm-6 align_col_203 text-center text-sm-end">
        <button class="start_button">Comece aqui</button>
    </div>
    <div class="col-12 col-sm-6 align_col_406 text-center text-sm-start ">
        <p class="slogan align-middle">O Microcrédito feito para você</p>
        <p class="slogan_subtitle">Transforme seu sonho em realidade com o nosso microcrédito.</p>
    </div>
    <div class="col-12 col-sm-6 align_col_406 text-end text-top">
        <img class="cartao w-100" src="assets/img/cartao.png" />
    </div>
</header>