<div class="main-container">
    <header class="row d-flex header_rectangle">
        <div class="col-12 col-md-6 align_col_203 text-center text-md-start">
            <img class="logo_credlend" src="assets/img/logo_credlend.png" />
        </div>
        <div class="col-12 col-md-6 align_col_203 text-center text-md-end">
            <button class="start_button" routerLink="/cadastro">Comece aqui</button>
        </div>
        <div class="col-12 col-md-6 align_col_406 text-center text-md-start ">
            <p class="slogan align-middle">O Microcrédito feito para você</p>
            <p class="slogan_subtitle">Transforme seu sonho em realidade com o nosso microcrédito.</p>
            <button class="button_planos">Conhecer Planos</button>
            <a class="button_planos_subtitle" (click)="movetoInfo()">Saiba mais</a>
        </div>
        <div class="col-12 col-md-6 align_col_406 text-end text-top">
            <img class="cartao w-100" src="assets/img/cartao.png" />
        </div>
    </header>

    <body>
        <div class="row d-flex body_rectangle">
            <div class="col-12 align_col_203 text-center" id="info">
                <p class="title1">Por que contratar o <span class="sub_title1">Microcrédito?</span></p>
            </div>
            <div class="col-12 col-md-4 align_col_406 text-center">
                <div class="img1">
                    <img class="image_body1" src="assets/img/Vector2.png" />
                    <p class="title2">Benefícios Fiscais</p>
                    <p class="sub_title2 align_horizontal">Ofertas de redução de impostos, incluindo alíquota zero de
                        Imposto sobre Operações Financeiras (IOF).</p>
                </div>
            </div>
            <div class="col-12 col-md-4 align_col_406 text-center">
                <div class="img1">
                    <img class="image_body1" src="assets/img/Vector1.png" />
                    <p class="title2">Recompensas Financeiras</p>
                    <p class="sub_title2 align_horizontal">Recompensas em dinheiro ou cashback oferecidas como incentivo
                        para pagamentos pontuais e regulares.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 align_col_406 text-center">
                <div class="img1">
                    <img class="image_body1" src="assets/img/refund.png" />
                    <p class="title2">Cashback</p>
                    <p class="sub_title2 align_horizontal">Reembolso de uma porção dos custos financeiros quando os
                        pagamentos são efetuados dentro do prazo estabelecido.</p>
                </div>
            </div>
        </div>
        <div class="row d-flex background_body">
            <div class="col-12 col-md-6 align_col_406 text-center text-md-start">
                <img src="assets/img/person.png" />
            </div>
            <div class="col-12 col-md-6 align_col_406 text-center">
                <p class="title3 text-center text-md-start">Digital e <span class="sub_title3">simples</span>, feito
                    para você! </p>
            </div>
        </div>
        <div class="row d-flex body_rectangle">
            <div class="col-12 align_col_203 text-center">
                <p class="title1"><span class="sub_title4">Adeus </span>às tarifas ocultas</p>
                <p class="sub_title2 align_horizontal">Recompensas em dinheiro ou cashback oferecidas como incentivo
                    para pagamentos pontuais e regulares.</p>
            </div>
            <div class="col-12 col-md-4 align_col_100 text-center text-md-end">
                <img class="image_body2" src="assets/img/Group_1.png" />
            </div>
            <div class="col-12 col-md-4 align_col_100 text-center">
                <img class="image_body2 " src="assets/img/Group_2.png" />
            </div>
            <div class="col-12 col-md-4 align_col_100 text-center text-md-start">
                <img class="image_body2" src="assets/img/Group_3.png" />
            </div>
            <div class="col-12 col-md-6 align_col_100 text-center text-md-end">
                <img class="image_body2" src="assets/img/Group_4.png" />
            </div>
            <div class="col-12 col-md-6 align_col_100 text-center text-md-start">
                <img class="image_body2" src="assets/img/Group_5.png" />
            </div>
            <div class="col-12 col-md-6 align_col_609">
                <div class="align_vertical text-center text-md-start">
                    <p class="title2 align_horizontal text-center text-md-start">Escolha o cartão que melhor se adapta
                        ao <span class="sub_title4">seu estilo </span></p>
                    <p class="sub_title2 align_horizontal text-center text-md-start">Oferecemos uma ampla variedade de
                        cartões com diferentes combinações de cores, para que você
                        possa escolher aquele que melhor reflete oeu estilo de vida.
                    </p>
                    <div class="align_horizontal text-md-start card-buttons">
                        <div class="card-btn" (click)="cardBtnSelect('black')"></div>
                        <div class="card-btn" (click)="cardBtnSelect('blue')"></div>
                        <div class="card-btn" (click)="cardBtnSelect('yellow')"></div>
                        <div class="card-btn" (click)="cardBtnSelect('cyan')"></div>
                        <div class="card-btn card-selecionado" (click)="cardBtnSelect('white')"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align_col_609 text-center">
                <img class="w-80" id="cards-img" src="assets/img/cards-white.png" />
            </div>
            <div class="col-12 col-md-6 align_col_609 text-center">
                <img class="image_body4" src="assets/img/person2.png" />
            </div>
            <div class="col-12 col-md-6 align_col_609">
                <div class="align_vertical2 text-center text-md-start">
                    <p class="title2 align_horizontal text-center text-md-start"><span class="sub_title4">Facilite
                        </span>sua vida com o nosso aplicativo.</p>
                    <p class="sub_title2 align_horizontal text-center text-md-start">Oferecemos uma ampla variedade de
                        cartões com diferentes combinações de cores, para que você
                        possa escolher aquele que melhor reflete oeu estilo de vida.
                    </p>
                    <div class="align_horizontal text-md-start">
                        <img class="image_body3" src="assets/img/store.png" />
                        <img class="image_body3" src="assets/img/store2.png" />
                    </div>
                </div>
            </div>
            <div class="col-12 align_col_306 text-center">
                <img class="w-100" src="assets/img/indicar.png" />
            </div>
        </div>
    </body>
    <!--Verificar a necessidade da div abaixo-->
</div>
<footer>
    <div class="col-12 align_col_203 text-center">
        <img class="w-100" src="assets/img/footer.png" />
    </div>
</footer>
<!--Verificar a necessidade da div abaixo-->